
h1 {
text-align: center;
color: white;

}
img{
  border-radius:10px;
  width:500px;
  height:300px
  cursor:pointer;
}
body {
    background-color: black;
}
p {
    color:white;
}
.img {
    text-align: center;
    margin-top: 50vh;
}
@keyframes animation {
    0% {
        transform: scale(1);
    }
        100%{
            transform: scale(1.1);
        }
}
 
img:hover {
    animation: animation 0.5s infinite alternate;
}
div {
    width: 1px;
    height: 1px;
}
h2 {
    color:white;
    text-align: center; 
}
img {
    cursor: pointer;
    width:200px;
    height:200px;
}